<!DOCTYPE html>

<html>
    <head>
        <title>My Occupation is Jinja</title>
    </head>
    <body style="text-align: center;">
        <p>
            {% block content1 %}
            <p>
                This is the homepage. Click the link below to access the occupations table page.
            </p>
            {% endblock %}
            <hr>
            <h3>Navigation</h3>
            <h4>
                <a href="./">Home</a> |
                <a href="./occupations">Occupations</a>
            </h4>
        </p>
    </body>
</html>